
! RXVT settings
!*Rxvt*foreground: white
!*Rxvt*background: black
*Rxvt*foreground: #bfbfb0
*Rxvt*background: #2b2b28
! -- make scrollbars look like traditional xterm
*Rxvt*scrollstyle: plain
! -- shortcut ctrl+b for big font
! -- shortcut ctrl+B for not as big font
*Rxvt.iso14755 : false

*Rxvt*font: xft:DejaVu Sans Mono:pixelsize=12,xft:WenQuanYi Zen Hei

! -- use ctlr 1 to whatever for font sizes
*Rxvt.keysym.Control-1: command:\033]50;xft:DejaVu Sans Mono:pixelsize=10,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-2: command:\033]50;xft:DejaVu Sans Mono:pixelsize=12,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-3: command:\033]50;xft:DejaVu Sans Mono:pixelsize=14,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-4: command:\033]50;xft:DejaVu Sans Mono:pixelsize=16,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-5: command:\033]50;xft:DejaVu Sans Mono:pixelsize=18,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-6: command:\033]50;xft:DejaVu Sans Mono:pixelsize=20,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-7: command:\033]50;xft:DejaVu Sans Mono:pixelsize=22,xft:WenQuanYi Zen Hei:antialias=false\007
*Rxvt.keysym.Control-0: command:\033]50;xft:DejaVu Sans Mono:pixelsize=14,xft:Droid Arabic Kufi:pixelsize=14,xft:WenQuanYi Zen Hei:antialias=false\007

! XTERM settings
! xterm ignores synthetic events, allow them:
*Xterm*allowSendEvents: true
! fixme: see if urxvt also ignores them...
