
! RXVT settings
!*Rxvt*foreground: white
!*Rxvt*background: black
*Rxvt*foreground: #bfbfb0
*Rxvt*background: #2b2b28
! -- make scrollbars look like traditional xterm
*Rxvt*scrollstyle: plain
! -- shortcut ctrl+b for big font
! -- shortcut ctrl+B for not as big font
*Rxvt.iso14755 : false

*Rxvt*font: xft:DejaVu Sans Mono:pixelsize=12,xft:WenQuanYi Zen Hei

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset

! XTERM settings
! xterm ignores synthetic events, allow them:
*Xterm*allowSendEvents: true
! fixme: see if urxvt also ignores them...
